streamlit
openai>=1.2.4
beautifulsoup4
gspread
oauth2client
duckduckgo-search
matplotlib
pandas
requests
python-dotenv
pyjwt
google-auth
google-auth-oauthlib
google-api-python-client
selenium
openrouter
PyMuPDF
python-docx
fpdf

